.contacts {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  // align-items: center;
  // margin-left: auto;

  // &__item + &__item {
  //   margin-left: 50px;
  // }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }

  &__icon {
    @media screen and (max-width: 767px) {
      display: none;
    }
    // margin-right: 10px;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
      fill: currentColor;

      transition: fill 250ms $timing-function;
    }
  }

  &__item:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
}
.contacts__link {
  // padding: 32px 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;

  @media screen and (max-width: 767px) {
    transition: font-size 250ms $timing-function;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    display: flex;
  }

  &:hover,
  &:focus {
    @media screen and (max-width: 767px) {
      font-size: 34px;
    }
    color: $accent-color;
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: $accent-color;
  }
}
