.contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
  // align-items: center;
  // margin-left: auto;

  // &__item + &__item {
  //   margin-left: 50px;
  // }

  &__icon {
    display: none;
    // margin-right: 10px;
    // fill: currentColor;

    // transition: fill 250ms $timing-function;
  }

  &__item:not(:first-child) {
    margin-bottom: 32px;
  }
}

.contacts__link {
  // display: flex;
  // padding: 32px 0;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $timing-function;
  transition: font-size 250ms $timing-function;

  &:hover,
  &:focus {
    font-size: 34px;
    color: $accent-color;
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: $accent-color;
  }
}
