.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    width: calc((100% - 2 * #{$card-set-gap}) / 2);
    margin: 15px;
  }
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 170px;
  height: 92px;
  border: 1px solid $social-icon-color;
  border-radius: 4px;
  fill: $social-icon-color;

  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.client-list__icon {
  fill: $social-icon-color;

  transition: fill 250ms $timing-function;

  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: $accent-color;
  }
}
