@media screen and (min-width: 768px) {
  .wrapper-address {
    margin: 0 82.5px 0 67.5px;
  }
}
@media screen and (max-width: 767px) {
  .footer-list {
    margin-bottom: 60px;
  }
}

.footer-list__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-address {
  margin-top: 20px;
  color: $primary-white-color;
  font-style: normal;
}

.footer-list__link {
  color: $adress-link-color;
  font-style: normal;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
