.footer-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 82.5px 0 67.5px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  &__text {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;
  }
}
