.hero {
  text-align: center;
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/new_photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $footer-link-color;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../imges/2x/new_photo@2x.jpg);
    }
  }

  &__title {
    width: 696px;
    margin: 0 auto 30px auto;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    &__title {
      width: 360px;
      font-size: 26px;
      line-height: 1.62;
    }
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: $primary-white-color;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
