.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 3;

  &__icon-close {
    display: none;
  }

  .is-open &__icon-close {
    display: block;
  }

  .is-open &__icon-menu {
    display: none;
  }

  &:hover .menu-button__icon-menu,
  &:focus .menu-button__icon-menu {
    fill: $accent-color;
  }

  &:hover .menu-button__icon-close,
  &:focus .menu-button__icon-close {
    fill: $accent-color;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-nav {
  background-color: $primary-white-color;
  z-index: 2;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 48px 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}
