.social-items--footer {
  margin-top: 20px;
}

.social-items__icon--footer {
  fill: $primary-white-color;
}

.social-items__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: $footer-link-color;

  transition: background-color 250ms $timing-function;
}
